/* ----------------- start of desktop ----------------- */

.achievments-section{
  width: 80%;
  margin: 0 auto;
}

.section-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.achievment-section-title{
  font-weight: 700;
  font-size: 32px;
}

.stats{
  gap: 13px;
}

.points, .badges{
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.9504px 1.9504px 2.6px;
  font-weight: 600;
  justify-content: space-evenly;
  padding: 5px;
  width: 163px;
}

.achievments{
  gap: 0 20px;
  justify-content: space-between;
  margin:  auto;
  width: 100%;
}

.achievment{
  align-items: center;
  border-radius: 5px;
  border: .0625rem solid var(--achievemtn-border-color);
  flex-basis: 22%; 
  flex-direction: column;
  gap: 0 20px;
  justify-content: center;
  margin-top: 20px;
  padding: 45px;
  width: 100%;
}

.achievment img{
  height: 93px;
  max-width: 127px;
}
.achievement-text{
  margin-top: 10px;
  text-align: center;
}


.offer{
  font-weight: 600;
}

.date{
  color: var(--date-color);
  display: block;
  margin-top: 10px;
}

/* ----------------- end of desktop ----------------- */

/* ----------------- start of media query ----------------- */

@media (max-width: 1220px) {
  .achievement-text{
    font-size: 14px;
  }

}

@media (max-width: 1160px) {
  .achievments{
    width: 100%;
    gap: 0 20px;
    margin: 0 auto;
  }
  
  .achievment{
  flex-basis: 48%; 
    font-size: 12px;
    margin-top: 20px;
    padding: 20px;
  }

  .achievment img{
    height: 80px;
    width: 100px;
  }
}

/* @media (max-width: 940px) {
  .achievments-section{
    width: 80%;
    margin: 0 auto;
  }

    .achievments{
    width: 80%;
    margin: 0 auto;
  }
  
  .achievment{
    height: 188px;
    width: 260px;
    font-size: 12px;
    margin-top: 20px;
  }

  .achievment img{
    height: 80px;
    width: 100px;
  }

  .achievement-text{
    font-size: 11px;
  }
} */

@media (max-width: 840px) {
  
  .achievments-section{
    width: 80%;
    margin: 0 auto;
  }
  
  .section-header{
    flex-direction: column;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 5px;
  }

  .stats{
    margin-top: 15px;
    margin: 30px auto;
  }

  .achievments{
    width: 100%;
    gap: 0 20px;
    margin: 0 auto;
  }
  
  .achievment{
    font-size: 12px;
    margin-top: 20px;
    padding: 20px;
  }

  .achievment img{
    height: 80px;
    width: 100px;
  }

  .achievement-text{
    font-size: 11px;
  }
}

@media (max-width: 788px) {
  .achievments {
    flex-wrap: wrap;
  }

  .achievment img {
    height: 80px;
    width: 100px;
  }
}

@media (max-width: 627px) {
  .achievment{
    flex-basis: 47%;
  }
}

@media (max-width: 427px) {
  .achievment{
    width: 150px;
  }

  .achievment img{
    height: 80px;
    width: 100px;
  }

}

@media (max-width: 413px) {

  .section-header{
    margin-bottom: 5px;
  }

  .stats{
    flex-direction: column;
  }
}

@media (max-width: 417px){
  .achievments{
    justify-content: center;
    flex-wrap: wrap;
  }
}


/* ----------------- end of media query ----------------- */
