/* ----------------- start of desktop ----------------- */

footer{
  border-top: 5px solid #fff;
  padding-top: 35px;
  background-color: #F5F5F5;
}

.social-media{
  text-align: center;
}

.social-media .icon{
  margin-right: 3px;
  width: 32px;
}

.subscribe-containe{
  position: relative;
}

.footer-first{
  justify-content: space-between;
  margin: 3px auto 10px auto;
  width: 85%;
}

.footer-first li{
  margin: 10px 0;
}

.footer a{
  color: #6F7075;
}

.newsletter,.footer-contact-section, .footer-company-section{
  margin-top: 40px;
}

.footer-title{
  font-size: 20px;
  font-weight: 700;
  padding-bottom:30px;
}

.asset-info{
  margin: auto;
  width: 80%;
}

.footer-second{
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 72px;
  justify-content: center;
  margin-top: 45px;
}

.subscribe-container {
  align-items: center;
  background-color: #fff;
  border: .0625rem solid #d9d9d9;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-left: 20px;
}

#input {
  background-color: transparent;
  border: none;
  font-size: 15px;
  outline: none;
}

.btn-subscribe {
  background-color: #B9D153;
  border: none;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 13px 50px;
}

input{
  border-radius: 20px;
  padding: 4px;
  font-family: 'Montserrat', sans-serif;
      border: none;
    padding: 0.625rem 1.0938rem;
    border-radius: 2.1875rem;
}

.logo-footer{
  margin-top: 20px;
}

.btn-subscribe{
  padding: 0.625rem 1.2938rem;
}

/* ----------------- end of desktop ----------------- */

/* ----------------- start of media query ----------------- */

@media (max-width: 1080px) {
  
  footer{
    font-size: 12px;
    border: none;
    background-color: #F5F5F5;
  }

  .footer-container{
    width: 90%;
    margin: 0 auto;
  }
  
  .footer-title{
    font-size: 18px;
    padding-bottom: 10px;
  }

  .footer-first{
    flex-direction: column;
    margin: 0;
  }

  .newsletter, 
  .footer-contact-section, 
  .footer-company-section {
    margin-top: 15px;
  }

  .subscribe-container{
    font-size: 11px;
    margin-top: 5px;
    padding-left: 10px;
  }

  .btn-subscribe{
    font-size: 12px;
    padding: 15px 30px;
  }

  .footer-second{
    width: 100%;
  }
  .footer-container{
    flex-direction: column;
  }

  .social-media{
    margin: 0 auto;
    text-align: start;
    width: 90%;
  }
}

/* ----------------- end of media query ----------------- */