/* ----------------- start of desktop ----------------- */
  .container-big {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-pop-up {
    justify-content: space-between;
    padding: 10px;
  }

  .form-container {
    background-color: var(--white-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 70%;
    max-width: 700px;
    min-height: 694px;
    padding: 0 15px;
    width: 90%;
    z-index: 2;
  }

  .form-button {
    align-self: flex-end;
    margin-top: 60px;
  }
  
  .form-display {
    display: none !important;
  }

  .form-popup {
    align-items: center;
    background-color: var(--form-popup-background-color);
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 30;
    width: 100%;
    z-index: 3;
  }

  .exit {
    color: var(--green-color);
    font-size: 23px;
    font-weight: 500;
  }
  
  .exit:hover {
    cursor: pointer;
  }

  .input-border {
    border: 1px solid var(--input-border);
    margin-top: 10px;
    padding: 5px;
    width: 100%;
  }

  .popup-title {
    margin-top: 5px;
  }

  .required {
    color: var(--red-color);
  }

  .textarea {
    height: 120%;
    padding: 7px;
  }
  
/* ----------------- end of desktop ----------------- */