/* ----------------- start of desktop ----------------- */
.header-mobile{
    display: none;
}

nav{
  align-items: center;
  background-color: black;
  color: var(--white-color);
  font-size: 14px;
  height: 72px;
  padding: 0 39px 0 216px;
  position: relative;
  font-weight: 500;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

nav a{
  color: var(--white-color);
  text-decoration: none;
}

nav a:hover{
  color: var(--green-color);
}

.nav-container{
  align-items: center;
  gap: 74px;

}

.hamburger{
  display: none;
  cursor: pointer;
}

.pic-info{
  position: relative;
}

.first ul li, .third ul li {
  padding: 0 10px;
}

.fourth{
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 60px;
}

.notify{
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: center;
  margin-right: 40px;
  padding: 0 30px;
}

.user-manage{
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.bell{
  border-left: 0.5px solid #C2C2C2;
  border-right: 0.5px solid #C2C2C2;
  height: 72px;
  width: 50px;
  padding: 18px 10px;
}

/* ----------------- end of desktop ----------------- */


/* ----------------- start of media query ----------------- */
@media (max-width: 1445px) {
  .fourth{
    margin-right: 50px;
  }
}

@media (max-width: 1394px) {
  .fourth{
    margin-right: 25px;
  }
}

@media (max-width: 1369px) {
  .fourth{
    margin-right: 0;
  }
}

@media (max-width: 1344px) {
  nav{
    font-size: 12px;
  }
}

@media (max-width: 1280px) {
  nav{
    font-size: 12px;
  }
  .user-logo{
    display: none;
  }

  .notify{
    border: none;
  }
}

@media (max-width: 1235px) {
  nav{
    font-size: 12px;
  }
  .user-logo{
    display: none;
  }
  nav{
    padding-left: 100px;
  }

}

@media (max-width: 1119px) {
  nav{
    padding-left: 50px;
  }
}

@media (max-width: 1069px) {
  .notification{
    height: 72px;
    width: 70px;
  }
}

@media (max-width: 1055px) {
  .user-manage p {
    display: none;
  }
}

@media (max-width: 970px) {
  nav{
    font-size: 10px;
  }
  .bell{
    width: 20px;
    height: 20px;
  }

  .user-manage img{
    width: 8px;
    height: 9px;
  }
}

@media (max-width: 904px) {
  .nav-container{
    gap: 30px;
  }
}

@media (max-width: 815px) {
  .navbar-desktop{
    display: none !important;
  }

  .header-mobile{
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
  }

  .nav-link{
    font-size: 20px;
  }

  .navbar{
    height: 72px;
  }

  .reverifi{
    font-size: 36px;
  }

  .bar {
    display: block;
    width: 1.5625rem;
    height: .1875rem;
    margin: .3125rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white-color);
  }

  .hamburger{
    display: block;
    margin-right: 30px;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(.5rem) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-0.5rem) rotate(-45deg);
  }

  .nav-menu{
    background-color: var(--nav-menu-background-color);
    color: var(--white-color);
    flex-direction: column;
    gap: 0;
    left: 100%;
    position: fixed;
    text-align: center;
    top: 70px;
    transition: 0.3s;
    width: 100%;
    z-index: 5;
  }

  a{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }

  .nav-item{
    margin: 10px;
  }

  .nav-link:hover{
    color: var(--green-color);
  }
}

/* ----------------- end of media query ----------------- */