/* ----------------- start of desktop ----------------- */

.achievments-section{
  width: 80%;
  margin: 0 auto;
}

.section-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.achievment-section-title{
  font-weight: 700;
  font-size: 32px;
}

.stats{
  gap: 13px;
}

.points, .badges{
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-weight: 600;
  /* height: 46px; */
  justify-content: space-evenly;
  padding: 5px;
  width: 163px;
}

.achievments{
  gap: 20px;
  justify-content: center;
}

.achievment{
  align-items: center;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  flex-direction: column;
  /* flex-grow: 1; */
  justify-content: center;
  margin-top: 50px;
  padding: 45px;
  width: 12%;
  width: 270px;
}

.achievment img{
  height: 93px;
  max-width: 127px;
}
.achievement-text{
  margin-top: 10px;
  text-align: center;
}

.offer{
  font-weight: 600;
}

.date{
  margin-top: 10px;
  display: block;
  color: #6F7075;
}

/* ----------------- end of desktop ----------------- */

/* ----------------- start of media query ----------------- */

@media (max-width: 1220px) {
  .achievement-text{
    font-size: 14px;
  }

  /* .achievment{
    width: 200px;
  } */
}

@media (max-width: 940px) {
  .achievments-section{
    width: 80%;
    margin: 0 auto;
  }

    .achievments{
    width: 80%;
    /* gap: 0 15px 0 0; */
    margin: 0 auto;
  }
  
  .achievment{
    height: 188px;
    width: 260px;
    font-size: 12px;
    margin-top: 20px;
  }

  .achievment img{
    height: 80px;
    width: 100px;
  }

  .achievement-text{
    font-size: 11px;
  }
}



@media (max-width: 840px) {
  
  .achievments-section{
    width: 80%;
    margin: 0 auto;
  }
  .section-header{
    flex-direction: column;
    text-align: center;
    margin-top: -60px;
  }

  .stats{
    /* width: 80%; */
    margin-top: 30px;
    margin: 30px auto;
    /* gap: 20px; */
  }

  .achievments{
    width: 100%;
    gap: 0 20px;
    margin: 0 auto;
  }
  
  .achievment{
    max-height: 188px;
    max-width: 290px;
    font-size: 12px;
    margin-top: 20px;
  }

  .achievment img{
    height: 60px;
    width: 60px;
  }

  .achievement-text{
    font-size: 11px;
  }
}

@media (max-width: 687px) {
  
  

}

  /* @media (max-width: 687px) {
  .achievment{
    font-size: 11px;
    width: 161px;
    padding: 5px;
  } 
}*/

/* ----------------- end of media query ----------------- */
