/* ----------------- start of desktop ----------------- */

.form-popup{
  background-color: rgba(88, 88, 88, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.form-display{
  display: none !important;
}

.form-container{
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px;
  padding: 0 20px;
  width: 50%;
  height: 610px;
  /* justify-content: space-between; */
  margin: 170px auto;
  gap: 20px;
}

.contact-pop-up{
  justify-content: space-between;
  padding: 10px;
}

.exit{
  color: #B9D153;
  font-size: 23px;
  font-weight: 500;
}

.popup-title{
  margin-top: 5px;
}

.exit:hover{
  cursor: pointer;
}

.required{
  color: red;
}

.input-border{
  border: 1px solid #C4C4C4;
  height: 24px;
  width: 100%;
  margin-top: 10px;
  padding: 16px;
}

.textarea{
  height: 150px;
  padding: 7px;

}

.form-button{
  justify-content: space-between;
}

/* ----------------- end of desktop ----------------- */