/* ----------------- start of desktop ----------------- */

.form-popup{
  background-color: rgba(88, 88, 88, 0.5);
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.form-container{
  background-color: #fff;
  margin: 0 auto;
  width: 44%;
  border-radius: 30px;
  position: absolute;
  padding: 10px 20px;
}

.contact-pop-up{
  justify-content: space-between;
  padding: 10px;
}

.exit{
  color: #B9D153;
  font-size: 20px;
  font-weight: 500;
  margin-top: 14px;
  margin-right: 10px;
}

.exit:hover{
  cursor: pointer;
}

.required{
  color: red;
}

.input-border{
  border: 1px solid #C4C4C4;
  width: 100%;
  width: 622px;
  margin-bottom: 15px;
  height: 24px;
}

.textarea{
  height: 236px;
  padding: 7px;
}

.form-button{
  justify-content: space-between;
}

/* ----------------- end of desktop ----------------- */