/* ----------------- start of desktop ----------------- */
  .header-mobile{
    display: none;
  }
nav{
  align-items: center;
  background-color: black;
  color: #fff;
  font-size: 14px;
  height: 72px;
  gap: 74px;
  position: relative;
  font-weight: 500;
}

nav a{
  color: #fff;
  text-decoration: none;
}

nav a:hover{
  color: #B9D153;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.first{
  margin-left: 216px;
}

.pic-info{
  position: relative;
}

.first ul li, .third ul li {
  padding: 0 10px;
}

.fourth{
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-right: 39px;
  position: absolute;
  right: 0;
}

.notify{
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: center;
  margin-right: 40px;
  padding: 0 30px;
}

.user-manage{
  align-items: center;
  gap: 10px;
  justify-content: center;
}

/* ----------------- end of desktop ----------------- */


/* ----------------- start of media query ----------------- */

@media (max-width: 1342px) {
  nav{
    font-size: 12px;
  }
}

@media (max-width: 1280px) {
  nav{
    font-size: 12px;
  }
  .user-logo{
    display: none;
  }


  .notify{
    border: none;
  }
}

@media (max-width: 1220px) {
  nav{
    font-size: 12px;
    gap: 30px;
  }
  .user-logo{
    display: none;
  }

}

@media (max-width: 1140px) {
.first{
  margin-left: 100px;
}
}

@media (max-width: 1030px) {
.first{
  margin-left: 50px;
}

}

@media (max-width: 984px) {
  .navbar-desktop{
    display: none !important;
  }

  .header-mobile{
    display: block;
    width: 100%;
  }

  .navbar{
    flex-direction: row;
    padding: 0 20px 0 55px;
    height: 72px;
  }

  .reverifi{
    font-size: 36px;
  }

  .bar{
    background-color: #fff;
    display: block;
    height: 3px;
    margin: 5px auto;
    width: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

    .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    background-color: #262626;
    flex-direction: column;
    gap: 0;
    left: 100%;
    position: fixed;
    text-align: center;
    top: 70px;
    transition: 0.3s;
    width: 100%;
    color: #fff;
    z-index: 3;
  }

  a{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }

  .nav-item{
    margin: 5px;
  }

  .nav-link:hover{
    color: #B9D153;
  }
}

/* ----------------- end of media query ----------------- */