@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


/* 
-----------------------------------
start of general 
-----------------------------------
*/

body{
  background-color: #fff;
}

ul,p,span{
  font-family: 'Montserrat', sans-serif;
}

.logo{
  font-family: 'Inter', sans-serif !important;
  font-size: 36px;
}

.green-color{
  color: #B9D153;
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style: none;
}



/* 
-----------------------------------
end of general 
-----------------------------------
*/




/* 
-----------------------------------
start of nav 
-----------------------------------
*/


nav{
  align-items: center;
  background-color: black;
  color: #fff;
  display: flex;
  height: 72px;
  font-size: 14px;
  justify-content: space-between;
  padding: 0 15px;
}

nav a{
  text-decoration: none;
  color: #fff;
}



.first{
  /* margin-left: 290px; */
}



.first ul{
  display: flex;
}

.first ul li{
  padding: 0 10px;
}

.third ul{
  display: flex;
}

.third ul li{
  padding: 0 10px;
}

.fourth{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notify{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  padding: 0 30px;
  border-left: 1px solid #CFCFCF;
  border-right: 0.1px solid #CFCFCF;
  height: 72px;
}

.user-logo{
  margin-top: 10px;
  margin-right: 15px;
}

.user-manage{
  display: flex;
  align-items: center;
}

.name{
  display: flex;
  justify-content: space-evenly;
  margin-top: 13px;
  padding-right: 13px;
}

.dropdown{
  margin: 15px 50px 0 0;
}


/* 
-----------------------------------
end of nav 
-----------------------------------
*/




/* 
-----------------------------------
start of section-container 
-----------------------------------
*/

.sections-container{
  width: 85%;
  margin: 100px auto 25px auto;
}

/*
-----------------------------------
end of section-container 
-----------------------------------
*/





/* 
-----------------------------------
start of achievment section 
-----------------------------------
*/

.section-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.achievment-section-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.stats{
  display: flex;
  gap: 10px;

}
.points, .badges{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 163px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.achievments{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.achievment{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 12%;
  max-width: 285px;
  border: 1px solid #EBEBEB;
  padding: 25px 62px;
  /* background-color: red; */
}

.achievment img{
  max-width: 127px;
  height: 93px;
  /* width: 93%; */
}
.achievement-text{
  margin-top: 10px;
  text-align: center;
}

.offer{
  font-weight: 600;
}

.date{
  margin-top: 10px;
  display: block;
  color: #6F7075;
  
}
/*
-----------------------------------
end of achievment section 
-----------------------------------
*/









/* start of footer */

.social-media{
  text-align: center;
  margin-top: 100px;

}
.footer-first{
  width: 85%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 20px auto;
}
ul{
  padding: 0;
}
.footer-first li{
  margin: 10px 0;
}

.footer a{
  color: #6F7075;
  font-size: 16px;
}

input{
  border-radius: 20px;
  padding: 4px;
  font-family: 'Montserrat', sans-serif;
}

button{
  background-color: #B9D153;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 12px 27px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 600;
}

.newsletter,.footer-contact-section, .footer-company-section{
  margin-top: 20px;
}
.footer-title{
  font-weight: 800;
}

/* end of footer */