@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

/* ----------------- start of general ----------------- */

body{
  background-color: #FAFAFA;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  position: relative;
}

ul{
  list-style: none;
  padding: 0;
}


.logo{
  font-family: 'Inter', sans-serif !important;
  font-size: 36px;
}

.green-color{
  color: #B9D153;
  font-weight: 600;
}

.d-flex{
  display: flex;
}

.btn{
  background-color: #B9D153;
  color: #fff;
  border-radius: 20px;
  border: none;
  width: 168px;
  height: 42px;
  /* padding: 12px 27px; */
  margin: 0;
  font-weight: 600;
}

input{
  border-radius: 20px;
  padding: 4px;
  font-family: 'Montserrat', sans-serif;
}

/* ----------------- end of general ----------------- */


/* ----------------- start of nav ----------------- */

nav{
  align-items: center;
  background-color: black;
  color: #fff;
  font-size: 14px;
  height: 72px;
  gap: 74px;
  position: relative;
}

nav a{
  color: #fff;
  text-decoration: none;
}

.first{
  margin-left: 216px;
}


.first ul li, .third ul li {
  padding: 0 10px;
}


.fourth{
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-right: 39px;
  position: absolute;
  right: 0;
}

.notify{
  align-items: center;
  border-left: 1px solid #CFCFCF;
  border-right: 0.1px solid #CFCFCF;
  display: flex;
  height: 72px;
  justify-content: center;
  margin-right: 40px;
  padding: 0 30px;
}

.user-manage{
  align-items: center;
  gap: 10px;
  justify-content: center;
}

/* ----------------- end of nav ----------------- */

/* ----------------- start of sections container ----------------- */

.sections-container{
  margin: 100px auto 25px auto;
  width: 100%;
}

/* ----------------- end of sections container ----------------- */

/* ----------------- start of profile ----------------- */

.profile{
  background-color: #fff;
  border-bottom: 4px solid #C4C4C4;
  margin-bottom: 100px;
  padding-bottom: 80px;
}

.container{
  width: 80%;
  margin: 0 auto;
  gap: 82px;

}

.user-information{
  flex-direction: column;
  justify-content: center;
  gap:20px;
}

.connection{
  justify-content: space-between;
  margin-top: 10px;
}

.jacob{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 5px;
}


.specifications{
  align-items: center;
}

.info{
  flex-direction: column;
  margin-right: 5px;
}

.skills{
  justify-content: space-between;
  margin-top: 30px;
}

.about-me{
  margin-top: 30px ;
}

.email, .phone{
  margin-top: 40px;
}

.space{
  margin-bottom: 3px;
}


/* ----------------- end of profile ----------------- */




/* ----------------- start of achievement section ----------------- */

.achievments-section{
  width: 80%;
  margin: 0 auto;
}

.section-header{
  justify-content: space-between;
  margin-bottom: 30px;
}

.achievment-section-title{
  font-weight: 700;
  font-size: 32px;
}

.stats{
  gap: 13px;
}

.points, .badges{
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-weight: 600;
  justify-content: space-evenly;
  padding: 5px;
  width: 163px;
}

.achievments{
  flex-wrap: wrap;
  gap: 30px;
}

.achievment{
  align-items: center;
  border: 1px solid #EBEBEB;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-top: 50px;
  padding: 45px;
  width: 12%;
  max-width: 285px;
}

.achievment img{
  height: 93px;
  max-width: 127px;
}
.achievement-text{
  margin-top: 10px;
  text-align: center;
}

.offer{
  font-weight: 600;
}

.date{
  margin-top: 10px;
  display: block;
  color: #6F7075;
  
}

/* ----------------- end of achievement ----------------- */

/* ----------------- start of listing ----------------- */

.listings-section{
  width: 80%;
  margin: 100px auto;

}

.listing-title{
  font-size: 32px;
  font-weight: 600;
}

.cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 404px;
  height: 494px;
}

.price-tag{
  font-size: 20px;
}

.image-1 {
  background-image: url("images/first-house.png");
  position: relative;
}

.image-2 {
  background-image: url("images/second-house.png");
}

.image-3 {
  background-image: url("images/third-house.png");
}

.image{
    background-repeat: no-repeat;
    height: 258px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.closed-img {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}



/* ----------------- end of listing ----------------- */


/* ----------------- start of footer ----------------- */

.social-media{
  text-align: center;
  margin-top: 100px;

}
.footer-first{
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.footer-first li{
  margin: 10px 0;
}

.footer a{
  color: #6F7075;
}

.share{
  border: none;
  background-color: #fff;
}

.newsletter,.footer-contact-section, .footer-company-section{
  margin-top: 24px;
}

.footer-title{
  font-weight: 800;
  padding-top: 20px;
}

.asset-info{
  width: 80%;
  /* padding: 20px;/ */

  margin: auto;
}

.footer-second{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 72px;
  background-color: #000;
  margin-top: 45px;
}

/* ----------------- end of footer ----------------- */