@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

/* 
-----------------------------------
start of general 
-----------------------------------
*/

body{
  background-color: #FAFAFA;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.logo{
  font-family: 'Inter', sans-serif !important;
  font-size: 36px;
}

.green-color{
  color: #B9D153;
}

ul{
  list-style: none;
}

.d-flex{
  display: flex;
}

.btn{
  background-color: #B9D153;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 12px 27px;
  margin: 0;
  font-weight: 600;
}


/* 
-----------------------------------
end of general 
-----------------------------------
*/


/* 
-----------------------------------
start of nav 
-----------------------------------
*/

nav{
  align-items: center;
  background-color: black;
  color: #fff;
  font-size: 14px;
  height: 72px;
  gap: 74px;
  position: relative;
}

nav a{
  color: #fff;
  text-decoration: none;
}

.first{
  margin-left: 216px;
}


.first ul li, .third ul li {
  padding: 0 10px;
}


.fourth{
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-right: 39px;
  position: absolute;
  right: 0;
}

.notify{
  align-items: center;
  border-left: 1px solid #CFCFCF;
  border-right: 0.1px solid #CFCFCF;
  display: flex;
  height: 72px;
  justify-content: center;
  margin-right: 40px;
  padding: 0 30px;
}

.user-manage{
  align-items: center;
  gap: 10px;
  justify-content: center;
}

/* 
-----------------------------------
end of nav 
-----------------------------------
*/



/* 
-----------------------------------
start of profile section 
-----------------------------------
*/
.profile{
  margin-bottom: 100px;
}
.container{
  display: flex;
  flex-direction: column;
}
.connection{
  justify-content: space-between;
  margin-top: 10px;
}
.jacob{
  font-size: 36px;
  font-weight: 600;
}

.user-information{
  align-items: center;
  flex-direction: column;
}

.job{
}

.skills{
  justify-content: space-between;
}

/* 
-----------------------------------
end of profile section 
-----------------------------------
*/


/* 
-----------------------------------
start of section-container 
-----------------------------------
*/

.sections-container{
  margin: 100px auto 25px auto;
  width: 85%;
}

/*
-----------------------------------
end of section-container 
-----------------------------------
*/


/* 
-----------------------------------
start of achievment section 
-----------------------------------
*/

.section-header{
  justify-content: space-between;
  margin-bottom: 30px;
}

.achievment-section-title{
  font-weight: 700;
  font-size: 32px;
}

.stats{
  /* display: flex; */
  gap: 13px;

}
.points, .badges{
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-weight: 600;
  justify-content: space-evenly;
  padding: 5px;
  width: 163px;
}

.achievments{
  flex-wrap: wrap;
  gap: 30px;
}

.achievment{
  align-items: center;
  border: 1px solid #EBEBEB;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-top: 50px;
  padding: 45px;
  width: 12%;
  max-width: 285px;
}

.achievment img{
  height: 93px;
  max-width: 127px;
}
.achievement-text{
  margin-top: 10px;
  text-align: center;
}

.offer{
  font-weight: 600;
}

.date{
  margin-top: 10px;
  display: block;
  color: #6F7075;
  
}
/*
-----------------------------------
end of achievment section 
-----------------------------------
*/


/* 
-----------------------------------
start of listing section 
-----------------------------------
*/
.cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 15px;
  position: relative;
  z-index: -1;
}

.image img{
  width: 104%;
}

.closed-img {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.price{
  display: flex;
  justify-content: space-between;
}

.card p{
  margin-top: 0;
}

.accomodations{
  margin-bottom: 20px;
}

.sale{
  font-weight: 600;
}

.information{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.view-listings{
  padding: 9px;
}

/* 
-----------------------------------
end of listing section 
-----------------------------------
*/




/* 
-----------------------------------
start of footer 
-----------------------------------
*/

.social-media{
  text-align: center;
  margin-top: 100px;

}
.footer-first{
  width: 85%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 20px auto;
}
ul{
  padding: 0;
}
.footer-first li{
  margin: 10px 0;
}

.footer a{
  color: #6F7075;
}

input{
  border-radius: 20px;
  padding: 4px;
  font-family: 'Montserrat', sans-serif;
}



.share{
  border: none;
  background-color: #fff;
}

.listing-title{
  font-weight: 600;
}

.newsletter,.footer-contact-section, .footer-company-section{
  margin-top: 24px;
}

.footer-title{
  font-weight: 800;
}

.footer-second{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 72px;
  background-color: #000;
  margin-top: 45px;
}

/* 
-----------------------------------
end of footer 
-----------------------------------
*/